<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
	<delete id="deleteById" parameterType="int">
		delete from user
		where ID=#{id}
	</delete>
	<select id="selectById" parameterType="int" resultType="domain.User">
		select * from user
		where ID=#{id}
	</select>
	<select id="selectByLoginnameAndPassword" resultType="domain.User">
		select * from user
		where USERNAME=#{0} and PASSWORD=#{1}
	</select>
	<sql id="update_if">
		<trim suffixOverrides=",">
			<if test="username!=null">
				USERNAME=#{username},
			</if>
			<if test="loginname!=null">
				LOGINNAME=#{loginname},
			</if>
			<if test="password!=null">
				PASSWORD=#{password},
			</if>
			<if test="status!=null">
				STATUS=#{status},
			</if>
		</trim>
	</sql>
	<update id="update" parameterType="domain.User">
		update user set
		<include refid="update_if"/>
		where ID=#{id}
	</update>
	<sql id="key">
		<trim suffixOverrides=",">
			<if test="username!=null">USERNAME,</if>
			<if test="loginname!=null">LOGINNAME,</if>
			<if test="password!=null">PASSWORD,</if>
			<if test="status!=null">STATUS,</if>
		</trim>
	</sql>
	<sql id="value">
		<trim suffixOverrides=",">
			<if test="username!=null">#{username},</if>
			<if test="loginname!=null">#{loginname},</if>
			<if test="password!=null">#{password},</if>
			<if test="status!=null">#{status},</if>
		</trim>
	</sql>
	<insert id="save" parameterType="domain.User">
		insert into user(<include refid="key"/>) 
		values(<include refid="value"/>)
	</insert>
	<select id="selectByPage">
		
	</select>
</mapper>